.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.home-btn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.home-btn:hover {
  text-decoration: none;
}
